@viewport{
    width: device-width;
}
@font-face {
    font-family: BlackRose;
    src:url('BlackRose.ttf') format('ttf');
}


/*need to fix font!!*/
:root{
    --base-bgcolor:rgb(11, 11, 105);
    --main-bgcolor:rgb(255, 255, 255, 0.3);
    --component-color:white;
    --special-text-color:red;
    font-size:16px;
    font-family: 'BlackRose', 'Arial Narrow', Arial, sans-serif;
    src:url('BlackRose.ttf')  format('ttf');
}
html{
    background-image: url('pirate_background2.jpg');
    background-color: var(--base-bgcolor);
    font-family: 'BlackRose';
}
body{
    background-color: var(--main-bgcolor);
    border: solid 2px var(--main-bgcolor);
    border-radius: 2rem;
    width: 80%;
    margin: 0 auto;
}
header > h1{
    display: inline;
    font-size: 3rem;
    text-shadow: black 2px 2px 4px;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black
}
@media (hover: hover) {
    tr:hover {
        background-color: var(--special-text-color);   
    }
}
footer{
    text-align: center;
}

canvas{
    background-color: var(--base-bgcolor);
    display: block;
    margin: 1em auto;
}

#outcome{
    color: red;
    text-align: center;
    font-size:  4em;
}
